.git
.gitignore
.github
.prettierrc
.cjs.swcrc
.es.swcrc
bun.lockb
node_modules
tsconfig.json
pnpm-lock.yaml
jest.config.js
DOC.md
example
tests
src
test
CHANGELOG.md
.eslintrc.js
tsconfig.cjs.json
tsconfig.esm.json
demo